body {
  padding: 6rem;
}

.heading {
  font-family: "Montserrat";
  font-size: 2rem;
}

.translation {
  position: relative;
  color: #787878;
}

.translation::after {
  border-bottom: 0.12em solid #787878;
  content: "";
  left: 0;
  margin-top: calc(0.12em / 2 * -1);
  position: absolute;
  right: 0;
  top: 55%;
}

.of {
  font-style: italic;
  margin-right: 0.2rem;
}

.subheading {
  margin-top: 3rem;
  width: 65%;
  color: #787878;
  line-height: 1.5rem;
  font-family: "Lato", sans-serif;
}

.title {
  font-style: italic;
}

.wrap {
  margin-top: 3rem;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  justify-content: space-between;
}

.lan {
  width: 80%;
  text-align: center;
  padding: 1rem;
  margin: 1rem 0;
  font-weight: 400;
  font-size: 1.5rem;
  color: #3696c7;
}

.new {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#button {
  padding: 0.5rem;
  margin-top: 1rem;
  margin-left: 2rem;
  color: white;
  font-style: italic;
  font-weight: 400;
  border-radius: 3px;
  background-color: #ccc;
}

#language {
  display: inline-block;
  margin-top: 1rem;
  outline: none;
  width: 80%;
  border: none;
  outline: none;
  border-bottom: solid #787878 1px;
  padding: 1rem;
  color: #787878;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

#content {
}

#container {
  width: 40%;
}
